{% load i18n %}<a class="btn btn--small btn--secondary" href="{% url 'web:coordinator-alumni' %}">{% translate "Absolwenci" %}</a>
<a class="btn btn--small btn--secondary" href="{% url 'web:coordinator-alumni-mentoring' %}">{% translate "Mentoring" %}</a>
<a class="btn btn--small btn--secondary" href="{% url 'web:coordinator-alumni-invitations' %}">{% translate "Zaproszenia" %}</a>
<a class="btn btn--small btn--secondary" href="{% url 'web:coordinator-alumni-stats' %}">{% translate "Gdzie są teraz" %}</a>
